*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: mosk, Helvetica, Arial, sans-serif;
	color: #434C5E;
	background: #ECEFF4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #88C0D0;
	outline: none;
}

a:hover,
a:focus {
	color: #6DD2DA;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Canvas container */

.container {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}


/* Header */
@keyframes fadeup { from { opacity: 0; transform: translateY(2rem);} to { opacity: 1; transform: translateY(0); }}

.header {
	position: relative;
	z-index: 1000;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	padding: 2em 1em 4em;
	text-align: center;
	color: #ECEFF4;
	background: #002D42 /* url(../img/journey/2.jpg) no-repeat center center*/;
	background-size: cover;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.header-title {
	position: relative;
	animation: fadeup 3.5s;
	animation-timing-function: cubic-bezier(.25,.1,.25,1) ;
}

.header-title__main {
	font-family: wanderlust, Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 3em;
	font-weight: 700;
	line-height: 1;
	margin: 0em 0 0.15em 0;
}

.header-title__part {
	font-family: youngserif, Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 0.85em;
	font-weight: 400;
	display: block;
	padding: 0.5em 0 3em;
	text-indent: 4px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.header-title__part::before,
.header-title__part::after {
	content: '\2014';
	padding: 0 0.5em;
}

.header-title__sub, .header-title__authors {
	font-weight: normal;
	display: block;
	max-width: 720px;
	margin: 0 auto;
	color: #E5E9F0;
	font-size: 1em;
	padding-bottom: 0.2em;
}

.header-title__authors {
	font-family: odachi;
}

.header-title__authors a{
	color: #E5E9F0;
}

/* Scroll animation */
@keyframes scroll { 0% {opacity: 1;} 100% {opacity: 0; transform: translateY(46px);} }

.icon-scroll, .icon-scroll:before {
	position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #ECEFF4;
  border-radius: 25px;
	animation: fadeup 3.5s;
	animation-timing-function: cubic-bezier(.25,.1,.25,1) ;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #ECEFF4;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.intro {
	font-family: odachi, Baskerville, Garamond, serif;
	font-size: 2.7em;
	position: relative;
	z-index: 1000;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	height: 110vh;
	margin: 0 0 3em;
	padding: 3em;
	text-align: center;
	color: #ECEFF4;
	background: #16161D;
}

.intro blockquote {
	max-width: 1080px;
	margin: 0 auto;
}

.intro em {
	font-size: 1.8em;
}

.intro span {
	display: block;
	font-family: 'youngserif';
	padding: 2em 0 1em 10em;
	color: #D8DEE9;
}

/* Content */

.content {
	padding: 3em 0;
}

/* Story */

.text {
	position: relative;
	z-index: 2000;
	padding: 5em 3em;
}

.text section {
	font-size: 1.25em;
	line-height: 1.4;
}

.text section h2 {
	font-size: 2.7em;
	font-weight: 400;
	margin: 0;
	text-align: left;
}

.text section:not(:first-child) h2 {
	padding: 2em 0 0 0;
}

.title-up {
	font-size: 0.365em;
	font-weight: bold;
	display: block;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: #cecec5;
}

.title-down {
	font-family: wanderlust, Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 1.35em;
	font-weight: 400;
	line-height: 0.9;
	display: block;
	padding: 0.15em 0 0.35em;
	color: #3B4252;
}

.text figure {
	margin: 1em 0 2em;
}

.text figure img {
	max-width: 100%;
}

.text figcaption {
	font-size: 0.85em;
	font-style: italic;
	padding: 0.5em 1.5em;
	text-align: center;
	color: #3B4252;
}

.text section p {
	font-size: 1em;
	margin: 0.5em 0 1.5em;
}

.text section p.indent {
	text-indent: 1.2em;
}

.text section p.quote {
	font-size: 2em;
	font-style: italic;
	line-height: 1.2;
	margin: 0.3em 0;
	text-align: left;
	color: #4C566A;
	font-family: odachi;
	text-indent: 0;
}

.js-section {
	width: 50%;
	max-width: 700px;
}

.js-gallery {
	padding-top: 50px;
	padding-bottom: 50px;
}

.js-gallery-content {
	font-size: 0;
	text-align: center;
}

.js-gallery-content img {
	max-width: 100%;
	margin: 10px 0;
}

/* Shop */

.shop {
	position: relative;
	z-index: 1000;
	padding: 10em 2em;
	text-align: center;
	color: #ECEFF4;
	background: #2E3440;
}

.info {
	font-size: 2.4em;
	font-weight: bold;
	padding: 0;
	margin: 0 auto;
}
.availability {
	font-size: 1.2em;
	padding:0 0 2em 0;
	margin: 0.2em auto;
}

.col_shop {
	display: inline-block;
	padding: 0 1em;
	text-align:left;
	vertical-align: top;
	max-width: 20%;
}

.shop-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.shop-item__img {
	max-width: 100%;
	opacity: 0.6;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.shop-item:hover .shop-item__img,
.shop-item:focus .shop-item__img {
	opacity: 1;
}

.shop-item__title {
	font-size: 1.2em;
	margin: 0;
	padding: 0.5em;
	text-align: center;
}

/* Footer */

.footer {
	position: relative;
	z-index: 1000;
	padding: 10em 2em;
	text-align: center;
	color: #ECEFF4;
	background: #16161D;
}

.col_footer {
	display: inline-block;
	padding: 0 3em;
	text-align:left;
	vertical-align: top;
}

.col_credits, .col_contact {
		max-width:20%;
}

.col_acknowledgements {
	max-width:35%;
}

ul {
	padding-left: 1em;
	list-style-type: circle;
	/* list-style-image: url('../img/ferry.svg'); */
}

li {
	padding:0.25em 0;
	font-size:0.9em;
}

/* Responsive */

@media(max-width: 720px) {
	.header-title {
		font-size: 1.5em;
	}
	.intro {
		font-size: 1.25em;
		height: auto;
		padding: 1em;
	}
	.text {
		font-size: 0.85em;
		padding: 2em;
		text-align: justify;
	}
	.text section h2 {
		font-size: 1.85em;
	}
	.text blockquote {
		font-size: 1.45em;
	}
	.js-section {
		width: 100%;
		max-width: none;
	}
	.col_footer, .col_shop{
		max-width: none;
	}
	.info {
		font-size: 1.5em;
	}
	.availability {
		font-size: 1em;
	}
}
