@font-face {
    font-family: 'youngserif';
    src: url('youngserif-regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wanderlust';
    src: url('wanderlust.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mosk';
    src: url('mosk/Mosk Normal 400.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'mosk';
    src: url('mosk/Mosk Bold 700.ttf');
    font-weight: 700;
}
